<strong>Recuperação de Senha</strong>

<p>

  Uma solicitação de recuperação de senha foi realizada para o email ({{email}})

  Se você não foi o autor dessa requisição, seria legal trocar  sua senha para garantir

</p>

<p>
 Para continuar com a recuperação de senha, utilize o token {{token}}

 ou clique no link a baixo

<a href="{{link }}"> Criar nova Senha</a>

</p>
